body {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
    background-color: #1f1f1f;
    font-family: "Open Sans";
}

button {
    background-color: white;
}

/* Question area */

.question {
    display:block;
    overflow:auto;
    padding : 10px;
    margin : 10px;
    background-color: white;
    -webkit-box-shadow: inset 0px 0px 7px -1px rgba(0,0,0,0.62);
    -moz-box-shadow: inset 0px 0px 7px -1px rgba(0,0,0,0.62);
    box-shadow: inset 0px 0px 7px -1px rgba(0,0,0,0.62);
}

.question_tools {
    display: table;
    float: left;
}

.question_tools a {
    color: black;
}

.voting_tools .voting_all {
    color: black;
}

.voting_tools {
    height: 100%;
    width: 30px;
    float: left;
}

.voting_arrow_up, .voting_arrow_down, .vote_count {
    width: 100%;
    text-align: center;
}

.vote_count {
    padding-top: 3px;
    padding-bottom: 3px;
}

.admin_delete_centering {
    display: table-cell;
    vertical-align: middle;
    padding-left: 3px;
    padding-right: 3px;
    width: 10px;
}

.admin_delete_centering .trash,
.admin_delete_centering .mark_answered {
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 2px;
    text-align: center;
    border-radius: 10px;
}

.admin_delete_centering .trash:hover,
.admin_delete_centering .trash:active {
    background-color: red;
    border-radius: 5px;
}

.admin_delete_centering .trash:hover a,
.admin_delete_centering .trash:active a {
    color: white;
    border-radius: 5px;
}

.admin_delete_centering .mark_answered:hover,
.admin_delete_centering .mark_answered:active {
    background-color: green;
    border-radius: 5px;
}

.admin_delete_centering .mark_answered:hover a,
.admin_delete_centering .mark_answered:active a {
    color: white;
    border-radius: 5px;
}

.question_content {
    word-wrap: break-word;
    width: 100%;
    /* 5 from margin of admin tools + 2 from padding of admin tools*/
    margin-top: 7px;
    padding-left: 4px;
    font-size: 1em;
}

.timestamp {
    overflow: hidden;
    font-size: .75em;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 2px;
}

/* Bottom panel */

.bottom_panel {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: solid 1px #e5dee3;
    background-color: white;
}

/* Groups */

#utility-group{
    float: right;
}

#view-group{
    float: left;
    padding: 0;
}

#key_button:hover,
#key_button:active {
    background-color: #ff9c99 !important;
}

#new_question_button:hover,
#new_question_button:active {
    background-color: #a7ee86 !important;
}

#submit_admin_button{
    display: none;
}

#submit_admin_button:hover,
#submit_admin_button:active{
    background-color: lightblue !important;
}

#admin_code {
    float: right;
    display: none;
}


/* Question Writing section */

.write_new_question {
    display: none;
    padding: 10px;
}

.new_question_formulation {
    margin: 10px auto;
    border-color: darkgray;
    height: 100px;
    border-width: 1px;
    box-sizing:border-box;
    width: 100%;
    font-family: "Open Sans";
}

.submit_button_container {
    float: right;
    padding: 4px;
    text-align: center;
    margin-bottom: 5px;
}

#buttonSubmit {
    background: #fff;
    border: 2px solid #1ECD97;
    color: #1ECD97;
}

#buttonSubmit:hover {
    color: white;
    background: #1ECD97;
}


/* TODO: What is this? */

.onclic {
    width: 40px;
    border-color: #bbbbbb;
    border-width: 3px;
    font-size: 0;
    border-left-color: #1ECD97;
    -webkit-animation: rotating 2s 0.25s linear infinite;
    animation: rotating 2s 0.25s linear infinite;
}
.onclic:after {
    content: "";
}
.onclic:hover {
    color: #1ECD97;
    background: white;
}

.validate {
    font-size: 13px;
    color: white;
    background: #1ECD97;
}
.validate:after {
    font-family: 'FontAwesome';
    content: "\f00c";
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
