
*{margin:0;padding:0;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}

.namespace_value {
    width:140px;
    height:40px;
    border:2px solid #34495e;
    float:left;
    text-align:center;
    cursor:pointer;
    position:relative;
    box-sizing:border-box;
    overflow:hidden;
    margin:0 0 40px 0;
    margin-right: 40px;
}

.button-1{
    width:140px;
    height:40px;
    border:2px solid #34495e;
    float:right;
    text-align:center;
    cursor:pointer;
    position:relative;
    box-sizing:border-box;
    border-radius: 25px;
    overflow:hidden;
    margin:0 0 40px 0;
    margin-left: 40px;
}
.button-1 a{
    font-family:arial;
    font-size:16px;
    color:#34495e;
    text-decoration:none;
    line-height:40px;
    transition:all .5s ease;
    z-index:2;
    position:relative;
}
.button-1:hover a{
    color:#fff;
}

.button-join{
    border:2px solid #4CAF50;
}
.button-join a{
    color:#4CAF50;
}
.eff-join{
    width:140px;
    height:40px;
    top:-2px;
    right:-140px;
    background:#4CAF50;
    position:absolute;
    transition:all .5s ease;
    z-index:1;
}
.button-join:hover .eff-join{
    right:0;
}
.button-button-join:hover a{
    color:#fff;
}

.button-create{
    border:2px solid #FF4336;
}
.button-create a{
    color:#FF4336;
}
.eff-create{
    width:140px;
    height:40px;
    top:-2px;
    right:-140px;
    background:#FF4336;
    position:absolute;
    transition:all .5s ease;
    z-index:1;
}
.button-create:hover .eff-create{
    right:0;
}
.button-button-create:hover a{
    color:#fff;
}

input[type="text"] {
    height: 40px;
    width: 400px;
    border: solid 2px #34495e;
    padding: 10px;
    font-family:arial;
    font-size:16px;
    color:#34495e;
    text-decoration:none;
}

.centered-div {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 760px;
    height: 40px;
}