<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> </title>
    <!-- Load things related to jQuery and  -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/js.cookie.js') }}"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet prefetch' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
{#    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>#}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.js"></script>
    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/whynotask-bucket/semantic_all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet_questions.css') }}">
    <script type = "text/javascript" src="{{ url_for('static', filename='js/ui_effects_questions.js') }}"></script>

</head>
<body>

<!-- TODO must store here as a parameter the question's unique ID, in order to be able to delete it... -->
<div class="question_area"></div>

<div class="bottom_panel ui container">

    <div class="ui basic buttons left floated massive">
        <button class="ui icon button" id="newest_link">Newest</button>
        <button class="ui icon button" id="top_link">Top</button>
        <button class="ui icon button" id="answered_link">Answered</button>
    </div>

    <div class="ui container right floated">
        <div class="ui basic buttons massive right floated">
            <button class="ui icon button" id="submit_admin_button"><i class="icon check"></i></button>
            <button class="ui icon button" id="key_button"><i class="icon key"></i></button>
            <button class="ui icon button" id="new_question_button"><i class="icon comment"></i></button>
        </div>
        <div class="ui left icon input large" style="float:right">
            <input id="admin_code_input" style="display: none;"  type="text" placeholder="Enter admin code">
            <i id="admin_code_icon" style="display: none;"  class="users icon"></i>
        </div>
    </div>


    <div class="ui container write_new_question" style="margin-top: 60px; padding: 10px">
        <div class="ui fluid icon input">
          <input id="new_question_formulation" type="text" placeholder="Type your question here...">
        </div>
        <div class="submit_button_container">
            <button class="ui right floated button" id="buttonSubmit" style="margin-top: 10px">SUBMIT</button>
        </div>
    </div>
</div>

</body>
</html>

<script>
    {% if session['room'] in session %}
        var room_in = "{{ session['room'] }}";
        if (room_in == window.location.pathname.toString().substr(1)){
           var currentUser = "admin";
        }
    {% else %}
        var currentUser = null;
    {% endif %}
</script>
