<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- Load things related to jQuery and  -->
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet_questions.css') }}">
    <script type = "text/javascript" src="{{ url_for('static', filename='js/ui_effects_questions.js') }}"></script>
</head>
<body>

<!-- TODO must store here as a parameter the question's unique ID, in order to be able to delete it... -->
<div class="question_area"></div>

<div class="bottom_panel">
    <div class="become_admin">
        <nav class="views">
            <ul>
                <li id="newest_link"><a href="" onclick="return false;">Newest</a></li>
                <li id="top_link"><a href="" onclick="return false;">Top</a></li>
                <li id="answered_link"><a href="" onclick="return false;">Answered</a></li>
            </ul>
        </nav>
        <div class="new_question_button">
            <i class="fa fa-question" aria-hidden="true"></i>
        </div>
        <div class="key_button" id="key_button">
            <i class="fa fa-key" aria-hidden="true"></i>
        </div>
        <div class="submit_admin_button" id="submit_admin_button">
            <i class="fa fa-check" aria-hidden="true"></i>
        </div>
        <div class="admin_code">
            <input type="text" name="admin_code_input" id="admin_code_input" placeholder="Enter admin code">
        </div>
    </div>
    <div class="write_new_question">
        <textarea class="new_question_formulation" name="new_question_formulation" maxlength="250" placeholder="Type your question, which will be posted to the question bank completely anonymously"></textarea>
        <div class="submit_button_container">
            <button id="buttonSubmit" class="buttonSubmitQuestion"></button>
        </div>
    </div>
</div>

</body>
</html>

<script>
    {% if session['room'] in session %}
        if ({{ session['room'] }} == window.location.pathname.toString().substr(1)){
           var currentUser = "admin";
        }
    {% else %}
        var currentUser = null;
    {% endif %}
</script>
