<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> JustAskMe </title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

    <link rel='stylesheet prefetch' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
    <script src="{{ url_for('static', filename='js/ui_effects.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='semantic/semantic.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }} ">


</head>
<body>

<div class="cntr">
    <div class="cntr-innr">
        <div class="logo">
            <img src="{{ url_for('static', filename='logo/logo.png') }}" alt="">
        </div>

        <div class="ui inverted transparent icon input massive">
            <input id="inpt_search" type="text" placeholder="Search...">
            <i class="search icon"></i>
        </div>

        <p class="user_instructions">Search for a question bank</p>
    </div>
</div>

<div class="popup">

    <a id="close_popup" href="" class="close">
        <i class="fa fa-times" aria-hidden="true"></i>
    </a>

    <p class="questionbank_name" id="questionbank_name_id">
        Question Bank Name: test
    </p>
    <p class="administrator_pass" id="administrator_pass_id">
        Administor Passcode: 123456
    </p>

    <div class="container">
        <button id="button">CREATE QUESTIONBANK</button>
    </div>


</div>

</body>
</html>
