<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> JustAskMe </title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

    <link rel='stylesheet prefetch' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
    <script src="{{ url_for('static', filename='js/ui_effects.js') }}"></script>
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/whynotask-bucket/semantic_all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }} ">


</head>
<body>

<div class="cntr">
    <div class="cntr-innr">
        <div class="logo">
            <img src="{{ url_for('static', filename='logo/logo.png') }}" alt="">
        </div>

        <div class="ui inverted transparent icon input massive" style="color:white">
            <input id="inpt_search" type="text" placeholder="Search...">
            <i class="search icon"></i>
        </div>

        <p class="user_instructions">Search for a question bank</p>

    </div>

</div>

<div class="popup">

    <a id="close_popup" href="" class="close">
        <i class="fa fa-times" aria-hidden="true"></i>
    </a>

    <p class="questionbank_name" id="questionbank_name_id">
        Question Bank Name: test
    </p>
    <p class="administrator_pass" id="administrator_pass_id">
        Administor Passcode: 123456
    </p>

    <div class="container">
        <button id="button">CREATE QUESTIONBANK</button>
    </div>


</div>

<a href="https://github.com/bhairavmehta95/JustAskMe"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/c6286ade715e9bea433b4705870de482a654f78a/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_white_ffffff.png"></a>

</body>
</html>
